{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row ml-1 mt-3">
        <h2>{% translate "Hello" %} {{ member.first_name }}!</h2></div>
    <div class="row ml-1 mt-3"></div>
    <div class="row ml-1 mt-3">
        <h3>{% translate "Thank you for signing up." %}</h3></div>
    <div class="row ml-1 mt-3"></div>
    {% if messages %}    {# {% if any(message.level == DEFAULT_MESSAGE_LEVELS.ERROR for message in messages) %} #}
        <div class="row ml-1 mt-1">
            <h4>{% translate "Verification of your email address failed! Please get in contact with us." %}</h4></div>
    {% else %}
        <div class="row ml-1 mt-1">
            <h4>{% translate "Your email address got confirmed." %}</h4></div>
        <div class="row ml-1 mt-1">
            <h4>{% translate "We will contact you soon via phone or email." %}</h4></div>
        <div class="row ml-1 mt-1">
            <h5>{% translate "Your account will get activated after receipt of the admission fee." %}</h5></div>
    {% endif %}
{% endblock %}
