{% extends "base.html" %}
{% load cms_tags crispy_forms_tags i18n %}

{% block content %}
    <div class="row mt-5 pt-5 justify-content-center align-items-center mx-auto my-auto">
        {% crispy form %}
    </div>
    <div class="row pt-3 offset-lg-3">
        <div class="col-12 col-lg-4">
            <a href="{% url 'password_reset' %}">{% translate "Password reset" %}</a>  {# django.contrib.auth.urls #}
        </div>
        <div class="col-12 offset-lg-4 col-lg-4">
            <a href="{% page_url 'mbr_signup' %}">{% translate "Member Sign-Up" %}</a>
        </div>
    </div>
{% endblock %}
