{% load i18n %}{% autoescape off %}{% translate "Hello" %} {{ member.first_name }},

{% translate "We received your member registration fee. Your member account got now activated." %}

<a href="{{ url }}">{% translate "Click on this link to log-/sign-in to our website" %}</a>

{% translate "Important! Your username to log into our website is not your first name, but your member id which is: " %}
    <b>{{ member.username }}</b>
{% translate "Use the password you entered in the sign-up." %}

{% translate "Greetings from" %} {{ admin_name }} {% translate "KairosBrandName" %}
{% endautoescape %}