{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row px-3"><h2>{% translate "Member Sign-Up" %}</h2></div>

    <div class="row mt-5 pt-5 justify-content-center align-items-center mx-auto my-auto">
        {% include "signup_form_plugin.html" %}
    </div>
{% endblock %}
