{% extends "base.html" %}
{% load i18n kairos_tags %}

{% block content %}
    <div class="row"><h2>{% translate "Members" %}</h2></div>
    {% if user.is_authenticated %}
        <div class="row shadow ae-glow">
            <div class="col-2 col-lg-1 text-right overflow-hidden">{% translate "Member Id" %}</div>
            <div class="col-4 col-lg-2">{% translate "First name" %}</div>
            <div class="col-6 col-lg-3">{% translate "Member name" %}</div>
            <div class="col-3 d-lg-none d-xl-none"></div>  {# d-lg-none d-xl-none because col-lg-0 results in col-3 #}
            <div class="col-9 col-lg-3">{% translate "Phone" %}</div>
            <div class="col-3 d-lg-none d-xl-none"></div>
            <div class="col-9 col-lg-3">{% translate "Email" %}</div>
        </div>
        {% for member in object_list %}
            <a id="{{ member.username }}"></a>
            {% if perms.auth.add_user and not member.is_active %}   {# user.is_staff #}
                <div class="row">
                    <form method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-info btn-sm mt-3" name="activate" value="{{ member.pk }}">
                            {% translate "Activate account of new member: " %}
                        </button>
                    </form>
                </div>
            {% endif %}
            <div class="row shadow ae-glow">
                <div class="col-2 col-lg-1 text-right">{{ member.username }}</div>
                <div class="col-4 col-lg-2"><b>{{ member.first_name }}</b></div>
                <div class="col-6 col-lg-3">{% full_name member %}</div>
                <div class="col-3 col-lg-0 d-lg-none d-xl-none"></div>
                <div class="col-9 col-lg-3">{{ member.last_name }}</div>
                <div class="col-3 col-lg-0 d-lg-none d-xl-none"></div>
                <div class="col-9 col-lg-3">{{ member.email }}</div>
            </div>
            {% if member.username.0 == "-" %}
                <div class="row mb-3">&nbsp;</div>
            {% endif %}
        {% endfor %}
    {% else %}
        <a href="{% url 'login' %}">
            {% translate "authenticate with your member id, entered into the 'Username' field" %}</a>
    {% endif %}
{% endblock %}
