{% load i18n kairos_tags %}

<div class="row mb-3 px-2 py-3 border border-info rounded-lg shadow">
    <form class="w-100">
        {% csrf_token %}
        <div class="row form-group">
            <div class="col-12 col-lg-2">
                <span class="ml-3" title="{{ msg.mm_author.last_name }}">{% full_name msg.mm_author %}</span>
            </div>
            <div class="col-12 col-lg-1 mx-1">
                <label for="is_public"
                       class="col-form-label font-italic font-weight-lighter" style="font-size: 81%">
                    {% translate "is published" %}
                </label>
                <input id="is_public" type="checkbox" name="mm_public"{% if msg.mm_public %} checked{% endif %}
                       class="form-control"
                       title="{% translate "check to show this message publicly to any visitor of this website" %}">
            </div>
            <div class="col-12 col-lg-2 mx-1">
                <label for="expired_date"
                       class="col-form-label font-italic font-weight-lighter" style="font-size: 81%">
                    {% translate "expire date" %}
                </label>
                <input id="expired_date" type="date" name="mm_expired" value="{{ msg.mm_expired|date:"c" }}"
                       min="{% now 'Y-m-d' %}"
                       class="form-control"
                       title="{% translate "enter the date until this message will be visible in the website news" %}">
            </div>
            <div class="col-12 col-lg-6 mx-1">
                <label for="message_text"
                       class="col-form-label font-italic font-weight-lighter" style="font-size: 81%">
                    {% translate "Text" %}
                </label>
                <!--suppress HtmlFormInputWithoutLabel -->
                <textarea id="message_text" name="mm_text" required style="min-width: 100%"
                          class="form-control text-area-auto-height"
                          title="{% translate "text of this member message" %}"
                          placeholder="{% translate "(enter new member message text)" %}"
                >{% if MSG_ADD_MARKER not in msg.mm_text %}{{ msg.mm_text }}{% endif %}</textarea>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-3 ml-1 ml-lg-5">
            {% if perms.mbr_messages.delete_membermessage %}
                <input class="btn btn-outline-info btn-sm" type="submit" value="{% translate "Delete" %}"
                       formaction="{% url 'message-delete' msg.pk %}" formmethod="post"
                       title="{% translate "delete this member message" %}">
            {% endif %}
            </div>
            <div class="col-8">
                <input class="btn btn-outline-info btn-sm w-100" type="submit" value="{% translate "Save" %}"
                       formaction="{% url 'message-update' msg.pk %}#{{ MSG_ANCHOR_ID_PREFIX }}{{ msg.pk }}"
                       formmethod="post"
                       title="{% translate "save any changes done to this member message" %}">
            </div>
        </div>
    </form>
</div>
