<button type="button" class="btn btn-outline-danger btn-floating btn-lg" id="btn-back-to-top"
        style="position: fixed; bottom: 2.1rem; right: 1rem; z-index: 99; font-size: 1.5rem; display: none;">
    <span class="fa fa-arrow-circle-up"></span>
    <script>
        let btn_back_to_top = document.getElementById("btn-back-to-top");
        window.onscroll = function () { scrollFunction(); };
        function scrollFunction() {
            btn_back_to_top.style.display =
                Math.max(document.body.scrollTop, document.documentElement.scrollTop) > 69 ?
                    "block" : "none";
        }

        btn_back_to_top.addEventListener("click", backToTop);
        function backToTop() {
            window.scrollTo({top: 0, behavior: "smooth" });
        }
    </script>
</button>
