{% load cms_tags sekizai_tags %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}{% page_attribute page_title %}{% endblock title %}</title>
        <meta name="description" content="{% page_attribute meta_description %}">

        {% include "base_stylesheets.html" %}
        {% render_block "css" %}
    </head>

    <body>
        {% cms_toolbar %}
        {% include "base_navbar.html" %}
        <div class="container">
            {% include "base_messages.html" %}
            {% block content %}{% placeholder "content" %}{% endblock content %}
        </div>

        {% include "base_back_to_top_button.html" %}
        {% include "base_footer.html" %}

        {% include "base_scripts.html" %}
        {% render_block "js" %}
    </body>
</html>
