{% load cms_tags %}
<footer class="mt-5 bg-dark text-info">
    <div class="row">
        <div class="col-12 col-lg-3 px-4 text-lg-left">
            <a href="{% page_url 'mbr_signup' %}">{% page_attribute 'menu_title' 'mbr_signup' %}</a>
        </div>
        <div class="col-12 col-lg-6 text-center">
            <small>powered by</small>
            {# <a href="https://freedns.afraid.org/" target="_blank" rel="noopener">Free DNS</a>, #}
            <a href="https://www.jetbrains.com/pycharm/" target="_blank" rel="noopener">PyCharm</a>,
            <a href="https://www.djangoproject.com/" target="_blank" rel="noopener">Django</a>,
            <a href="https://django-cms.org/" target="_blank" rel="noopener">Django-CMS</a>
            <small>and</small>
            <a href="https://www.pythonanywhere.com/" target="_blank" rel="noopener">PythonAnywhere</a>
            <small>with</small>
            <a href="https://gitlab.com/AndiEcker/kairos" target="_blank" rel="noopener">
            <span class="beating_heart ae-glow"></span></a>
        </div>
        <div class="col-12 col-lg-3 px-4 text-lg-right">
            <a href="{% page_url 'legal_notice' %}">{% page_attribute 'menu_title' 'legal_notice' %}</a>
            <span>&nbsp;&nbsp;</span>
            <a href="{% page_url 'privacy_policy' %}">{% page_attribute 'menu_title' 'privacy_policy' %}</a>
        </div>
    </div>
</footer>
