{% load kairos_tags %}
<div class="row mb-5 mx-3 border border-info rounded-lg shadow"
     style="height: calc(min(90vh, 21rem)); resize: vertical; overflow-y: scroll;">
    {% for news in object_list %}{% with cat=news.cat_name|slugify nid=news.news_id %}
        {% if user.is_authenticated %}
        <div class="col-2 text-right" style="overflow: hidden">
            <a href="tel:{{ news.phone }}"><strong title="{{ news.phone }}">{% full_name news.member_pk %}</strong></a>
        </div>
        {% endif %}
        <div class="col-{% if user.is_authenticated %}10{% else %}12{% endif %}">
            {% if cat %}
                <a href="{% url 'announcement-show' cat nid %}#{{ EXC_ANCHOR_ID_PREFIX }}{{ nid }}">
            {% else %}
                <a href="{% url 'message-show' nid %}#{{ MSG_ANCHOR_ID_PREFIX }}{{ nid }}">
            {% endif %}
            <div class="border-bottom" style="white-space: pre-wrap;">{{ news.description|linebreaksbr }}</div></a>
        </div>
    {% endwith %}{% endfor %}
</div>
