{% load i18n kairos_tags %}

{% if perms.mbr_meeting_plugin.add_membermeeting %}
    <form class="w-100">
        {% csrf_token %}
        {% for lang, text in mt_texts.items %}
            <a id="{{ MBR_MEET_ANCHOR_ID_PREFIX }}{{ lang }}"></a>
            <input type="hidden" name="{{ lang }}_old_text" value="{{ text }}">
            <div class="row form-group mb-0">
                <label for="txt_edit{{ lang }}" class="col-form-label">
                    <span class="{% flag_icon lang %}"></span>
                </label>
                <textarea id="txt_edit{{ lang }}" name="{{ lang }}_text" required style="min-width: 100%"
                          class="form-control text-area-auto-height"
                          title="{% translate "Text" %}"
                >{{ text }}</textarea>
            </div>
            <div class="row mt-0">
                <div class="offset-1 col-9 ml-1 ml-lg-5">
                    <input id="{{ lang }}_notify" type="checkbox" name="{{ lang }}_notify">
                    <label for="{{ lang }}_notify" class="col-form-label">
                        {% language lang %}{% translate "Notify members" %}{% endlanguage %}
                    </label>
                </div>
            </div>
        {% endfor %}
        <div class="offset-3 col-8">
            <input class="btn btn-outline-info btn-sm w-100 mt-0" type="submit"
                   value="{% translate "Update and/or Notify" %}"
                   formaction="{% url 'meetings-update' %}" formmethod="post">
        </div>
    </form>
{% else %}
    <div style="white-space: pre-wrap">{{ mt_lang_text|safe|linebreaks }}</div>
{% endif %}
