{% load i18n kairos_tags %}

<form id="filter_form">
    {% csrf_token %}
    <div class="row align-items-end">
        <div class="col p-0">
            <label class="pr-3" title="{% translate "show announcements of all languages" %}">
                <input type="radio" name="l" value='0' autocomplete="off"
                       onclick="document.getElementById('filter_form').submit()"
                       {% if request.GET.l != '1' %}checked{% endif %}
                       style="display: none;">
                <span class="{% flag_icon "eu" %} {% if request.GET.l != '1' %}ae-glow-gold{% else %}shadow{% endif %}"
                      style="cursor: pointer; font-size: {% if request.GET.l != '1' %}1.8{% else %}1.2{% endif %}rem;">
                </span>
            </label>
            <label title="{% translate "show announcements of your currently selected language" %}">
                <input type="radio" name="l" value='1' autocomplete="off"
                       onclick="document.getElementById('filter_form').submit()"
                       {% if request.GET.l == '1' %}checked{% endif %}
                       style="display: none;">
                <span class="{% flag_icon LANGUAGE_CODE %}
                             {% if request.GET.l == '1' %}ae-glow-gold{% else %}shadow{% endif %}"
                      style="cursor: pointer; font-size: {% if request.GET.l == '1' %}1.8{% else %}1.2{% endif %}rem;">
                </span>
            </label>
        </div>
        <div class="col p-0 text-right">{% if user.is_authenticated %}
            <label title="{% translate "only show your announcements" %}">
                <input type="radio" name="u" value="1"
                       onclick="document.getElementById('filter_form').submit()"
                       {% if request.GET.u == "1"%}checked{% endif %}
                       style="display: none;">
                <span class="fa fa-user {% if request.GET.u == '1' %}ae-glow-gold{% else %}shadow{% endif %}"
                      style="cursor: pointer; font-size: {% if request.GET.u == "1" %}1.8{% else %}1.2{% endif %}rem;">
                </span>
            </label>
            <label class="pl-3" title="{% translate "show the announcements of all members" %}">
                <input type="radio" name="u" value="0"
                       onclick="document.getElementById('filter_form').submit()"
                       {% if request.GET.u != "1" %}checked{% endif %}
                       style="display: none;">
                <span class="fa fa-user-group   {# alternative icon: fa-people-group #}
                             {% if request.GET.u != '1' %}ae-glow-gold{% else %}shadow{% endif %}"
                      style="cursor: pointer; font-size: {% if request.GET.u != "1" %}2.1{% else %}1.2{% endif %}rem;">
                </span>
            </label>
        {% endif %}</div>
    </div>
    <div class="row mb-3">
        <!--suppress HtmlFormInputWithoutLabel -->
        <input class="w-100 btn-outline-info shadow" type="text" name="q" value="{{ request.GET.q }}" placeholder="🔍️"
               title="{% translate "enter search text fragment to filter announcements" %}">
    </div>
</form>
