{% with page_link=instance.page_link page_slug=instance.page_link.get_slug page_image=instance.page_image %}
{#<div class="container pt-5">#}
    <a href="{{ page_slug }}" title="{{ page_link }}">
        <div class="row pt-3">
            <div class="col-12 col-md-6 ae-glow-gold text-center text-md-right">
                <h3>{{ page_link.get_menu_title }}</h3>
            </div>
            <div class="col-12 col-md-6">
                {# <img src="{% thumbnail page_image 240x240 %}" class="rounded shadow" alt="{{ page_slug }}-image"> #}
                <img src="{{ page_image.url }}" class="img-fluid rounded shadow" alt="{{ page_slug }}-page-image">
            </div>
        </div>
    </a>
{#</div>#}
{% endwith %}
