{% load i18n kairos_tags %}

{% with is_mbr=user.is_authenticated can_chg=perms.mbr_messages.change_membermessage %}
{% if not user.is_staff and perms.mbr_messages.add_membermessage and "/edit/" not in request.path %}
    <div class="row mb-5">
        <div class="col-6 col-lg-9"></div>
        <div class="col-3">
            <form>
                {% csrf_token %}
                <input class="btn btn-outline-info btn-sm" type="submit" value="{% translate "Add Another" %}"
                       formaction="{% url 'message-add' %}" formmethod="post"
                       title="{% translate "add a new message" %}">
            </form>
        </div>
    </div>
{% endif %}
{% for msg in object_list %}{% with msg_usr_pk=msg.mm_author.pk %}
    {% if url_kwargs.id == msg.pk %}<a id="{{ MSG_ANCHOR_ID_PREFIX }}{{ msg.pk }}"></a>{% endif %}
    {% if user.is_staff or url_kwargs.id == msg.pk and "/edit/" in request.path and can_chg and user.pk == msg_usr_pk %}
        {% include "./mbr_messages/membermessage_edit.html" %}
    {% else %}
        {% url 'message-edit' msg.pk as edit_url %}
        <div class="row py-2"
          {% if can_chg and user.pk == msg_usr_pk %}
             ondblclick='window.location.href="{{ edit_url }}#{{ MSG_ANCHOR_ID_PREFIX }}{{ msg.pk }}"'
             title="{% translate 'Double-click to edit' %} (#{{ msg.id }} {{ msg.mm_created }})"
          {% else %}
             title="{{ msg.mm_created }}"
          {% endif %}>
            {% if is_mbr %}
                <div class="col-4 col-lg-2" title="{{ msg.mm_author.last_name }}" style="overflow: hidden">
                    <a href="tel:{{ msg.mm_author.last_name }}"><strong>{% full_name msg.mm_author %}</strong></a>
                </div>
                <div class="col-2 col-lg-1">
                    <i class="fa {% if msg.mm_public %}fa-people-group{% else %}fa-user-group{% endif %}"></i>
                </div>
                <div class="col-3 col-lg-2 text-right" style="overflow: hidden">
                    <span>{{ msg.mm_expired|default:"" }}</span>
                </div>
                {% if is_mobile and can_chg and user.pk == msg_usr_pk %}
                <div class="col-3 col-lg-2">
                    <button class="btn btn-outline-info btn-sm" type="button"
                            onclick='window.location.href="{{ edit_url }}#{{ MSG_ANCHOR_ID_PREFIX }}{{ msg.pk }}"'>
                        {% translate "Change" %}
                    </button>
                </div>
                {% endif %}
            {% endif %}
            <div class="col-12 col-lg-{% if is_mbr %}{% if is_mobile %}5{% else %}7{% endif %}{% else %}12{% endif %}">
                <div class="border-bottom" style="white-space: pre-wrap;">{{ msg.mm_text|linebreaksbr }}</div>
            </div>
        </div>
    {% endif %}

{% endwith %}{% empty %}
    <div class="row">
        <div class="col text-center">
            <pre>-o- -o- -o-      {% translate "Empty" %}      -o- -o- -o-</pre>
        </div>
    </div>
{% endfor %}
{% endwith %}
